.Home-showcase {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 100px;
}
#Home-title {
  font-size: 90.44px;
  color: #000;
  text-align: center;
  text-shadow: 0.07em 0 white, 0 0.07em white, -0.07em 0 white, 0 -0.07em white,
    -0.07em -0.07em white, -0.07em 0.07em white, 0.07em -0.07em white,
    0.07em 0.07em white;
}
#Home-subtitle {
  font-size: 63.96px;
  color: white;
  text-align: center;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black,
    -0.07em -0.07em black, -0.07em 0.07em black, 0.07em -0.07em black,
    0.07em 0.07em black;
}

@media screen and (max-width: 930px) {
  .Home-container {
    left: 0px;
  }
}
@media screen and (max-width: 465px) {
  #Home-title {
    font-size: 48.83px;
  }
  #Home-subtitle {
    font-size: 39.06px;
  }
}

.btn1 {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  
  color: var(--button-text-color);
  cursor: pointer;
  /* Clean style */

  --button-text-color: turquoise;
  --button-text-color-hover: black;
  --border-color: #7d8082;
  --button-background-color: black;
  --highlight-color: #fff;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);

  position: relative;
  padding: 8px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  transition: all 0.15s ease;
  margin-top: 20px;
}

.btn1::before,
.btn1::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all 0.15s ease;
}

.btn1::before {
  top: 0;
  border-bottom-width: 0;
}

.btn1::after {
  bottom: 0;
  border-top-width: 0;
}

.btn1:active,
.btn1:focus {
  outline: none;
}

.btn1:active::before,
.btn1:active::after {
  right: 3px;
  left: 3px;
}

.btn1:active::before {
  top: 3px;
}

.btn1:active::after {
  bottom: 3px;
}

.btn1__inner {
  position: relative;
  display: block;
  padding: 25px 35px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn1__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn1__inner::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all 0.2s ease;
}

.btn1__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.btn1__content {
  position: relative;
  width: auto;
}

.btn1:hover {
  color: var(--button-text-color-hover);
}

.btn1:hover .btn1__slide {
  width: calc(100% + 15px);
}

.btn1:hover .btn1__inner::after {
  background-color: var(--highlight-color);
}
.btn1:hover .btn1__inner::before {
  background-color: var(--highlight-color);
}
.Home-intro {
  padding: 2rem;
  margin: 2rem;
}
.Home-intro h2 {
  font-size: 63.96px;
  text-align: center;
}
.icons {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.icon {
  margin-top: 50px;
  margin-bottom: 30px;
  color: turquoise;
}

.title-icon:hover {
  transition-duration: 1s;
  transform: scale(1.18);
}
.icon-section {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 31.99px;
  color: turquoise;
}
.desc {
  margin: 20px;
  color: black;
  min-width: 25vw;
}
@media screen and (max-width: 1000px) {
  .icons {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .desc {
    font-size: 18px;
  }
}
/* ........................................................*/
#verified {
  margin-bottom: 10px;
  color: turquoise;
}
/*..........................................................*/

.FAQ-parallax {
  min-width: 100vw;

  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FAQ-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  padding-left: 15vw;
}

.FAQ h3 {
  font-size: 31.99px;
  color: black;
  text-shadow: 0.07em 0 white, 0 0.07em white, -0.07em 0 white, 0 -0.07em white,
    -0.07em -0.07em white, -0.07em 0.07em white, 0.07em -0.07em white,
    0.07em 0.07em white;
}

.FAQ p {
  font-size: 1rem;
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black,
    -0.07em -0.07em black, -0.07em 0.07em black, 0.07em -0.07em black,
    0.07em 0.07em black;
}

.FAQ {
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 1050px) {
  .FAQ-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch;
  }
  .FAQ-parallax {
    height: auto;
  }
  .FAQ {
    width: 100vw;
    height: auto;
  }
  .FAQ p {
    max-width: 80vw;
  }
  .FAQ h3 {
    max-width: 80vw;
    margin-top: 50px;
  }
  #outro {
    font-size: 31.99px;
    width: 100vw;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    flex-direction: column;
    padding-right: 130px;
    padding-left: 0;
    margin-right: 0px;
    margin-left: 0;
  }
  .Home-intro {
    font-size: 31.99px;
  }
}

#testimonial-header {
  text-align: center;
}

.Testimonials-intro {
  font-size: 63.96px;
  text-align: center;
  border-bottom: 4px solid turquoise;
  margin-top: 50px;
}

#our-word {
  font-size: 31.99px;
  color: #111111;
  opacity: 0.7;
}
#our-users {
  font-size: 63.96px;
  border-bottom: 5px solid turquoise;
  border-radius: 10px;
  color: black;
  opacity: 1;
}
.whoAreWe-container {
  border: 5px solid turquoise;
  width: 70vw;
  height: auto;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 10vh;
  margin-top: 10vh;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 100px;
}
.whoAreWe-title {
  font-size: 63.96px;
  border-bottom: 5px solid turquoise;
  border-radius: 7px;
  color: black;
  opacity: 1;
  text-align: center;
  padding: 2rem;
}
#WWA-desc {
  font-size: 1.5rem;
  color: black;

  padding: 45px;
  line-height: 37px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .whoAreWe-container {
    width: 90vw;
  }
  #WWA-desc {
    font-size: 18px;
  }
}
.WhatIsBoosting-title {
  font-size: 45.23px;
  border-bottom: 5px solid turquoise;
  border-radius: 10px;
  color: black;
  opacity: 1;
  text-align: center;
  padding: 0rem;
  margin: 10vh;
  width: 60vw;
  margin: auto;
  margin-top: 50px;
}
#WhatIsBoosting-wrap {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 70vw;
  margin: auto;
  margin-top: 50px;
}
.WIB-bullet-dot {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  margin-bottom: 30px;
  border: 4px solid turquoise;
  border-radius: 500px;
  padding: 50px;
}
.bullet-desc {
  font-size: 1rem;
  font-weight: 300;
  line-height: 30px;
}

@media screen and (max-width: 525px) {
  .WIB-bullet-dot {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 9fr;
  }
}
.whyUs-title {
  font-size: 45.23px;
  border-bottom: 5px solid turquoise;
  border-radius: 10px;
  color: black;
  opacity: 1;
  text-align: center;
  padding: 0rem;
  margin: 10vh;
  width: 60vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 20px;

  width: 95%;
  height: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: turquoise;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;

  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;

  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;

  max-width: 70%;
  margin: 0 auto;
  height: 4px;
  background: turquoise;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: turquoise;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  background: turquoise;
  margin-top: 5px;
  left: 1px;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: turquoise;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  svg {
  fill: turquoise;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: turquoise;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: turquoise;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: turquoise;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: turquoise;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: turquoise;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: turquoise;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}

.tabs ul li label {
  padding: 5px;
  border-radius: 5px;
}

.tabs .content {
  margin-top: 20px;
}
.tabs .content section h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "PT sans";
  font-size: 31.99px;
  text-align: center;
}

.whyUs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.whyUs-grid p {
  font-size: 22.62px;
  display: flex;
  align-self: center;
  text-align: center;
}
.whyUs-grid img {
  display: flex;
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 730px) {
  .whyUs-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .whyUs-grid img {
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  .whyUs-grid img {
    width: 250px;
  }
}

.home-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: auto;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 150px;
}
.home-banner div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}
.home-banner div:hover {
  transition-duration: 1s;
  transform: scale(1.18);
}
.home-banner div p {
  text-align: center;
  font-size: 45.23px;
  color: black;
  border-bottom: 5px solid turquoise;
}

@media screen and (max-width: 586px) {
  .home-banner div p {
    text-align: center;
    font-size: 22.62px;
    color: black;
    border-bottom: 5px solid turquoise;
  }
}
.featured-container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #40e0d0, #2c9d8f, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: 10px solid turquoise;
  border-radius: 100px;
  margin: auto;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.featured-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
}
.featured-wrap p {
  padding: 25px;
  text-align: center;
  font-size: 38.23px;
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black,
    -0.07em -0.07em black, -0.07em 0.07em black, 0.07em -0.07em black,
    0.07em 0.07em black;
  line-height: 55px;
  letter-spacing: 2px;
  margin: 0;
}
#featuredbooster {
  height: 500px;
}
@media screen and (max-width: 1270px) {
  .featured-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
  }
  #featuredbooster {
    margin: auto;
  }
}
@media screen and (orientation: portrait) {

  #featuredbooster {height:auto}
  
}
@media screen and (max-width: 940px) {
  #featuredbooster {
    width: 600px;
  }
}
@media screen and (max-width: 750px) {
  #featuredbooster {
    width: 80vw;
  }
}
@media screen and (max-width: 550px) {
  .featured-wrap p {
    font-size: 22.62px;
    line-height: 30px;
  }
}

.OrdersCarousel-container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}
.OrdersCarousel-title {
  font-size: 43.96px;
  border-bottom: 5px solid turquoise;
  border-radius: 7px;
  color: black;
  opacity: 1;
  text-align: center;
}
.orderimg {
  height: 100%;
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-self: center;
  align-self: center;
}
