.swiper-slide {
  background-position: center;
  background-size: cover;
  min-width: 300px;
  max-width: 500px;
  height: 530px;
  background: #fff;
  z-index: 100;
  margin: 0 20px;
  margin-bottom: 15px;
}

.testimonials-body {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background: #111;
  width: 350px;
}
.testimonials {
  position: relative;
  max-width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: none;
}
.card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #333;
  text-align: center;
  padding: 60px 40px;
  overflow: hidden;
  height: 530px;
}

.layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(turquoise, #720105);
  z-index: 1;
  transition: 0.5s;
}
.card:hover .layer {
  top: 0;
}

.content {
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-style: italic;
}
.card .content p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.card .content .imgBx {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card .content h2 {
  font-size: 18px;
  color: #fff;
}

.card .content h2 span {
  color: #03a9f4;
  font-size: 14px;
  transition: 0.5s;
}
.card:hover .content h2 span {
  color: #fff;
}
@media screen and (max-width: 600px) {
  .swiper-slide {
    margin: 0 0px;
    margin-bottom: 10px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: turquoise;
}
.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-width: 300px;
  max-width: 500px;
  margin:20px;
}
.stars-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  background-color: white;
}
.select {
  position: relative;
  min-width: 200px;
}

.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.select select:hover + svg {
  stroke: #07f;
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}