.Services-Wrapper {
  margin-bottom: 700px;
  height: 0;
}

.Services-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 700px;
}

#Rank-boost-title {
  color: white;
  text-align: center;
  font-size: 90.44px;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black,
    -0.07em -0.07em black, -0.07em 0.07em black, 0.07em -0.07em black,
    0.07em 0.07em black;
}
#Rank-boost-subtitle {
  font-size: 63.96px;
  color: black;
  text-align: center;
  text-shadow: 0.07em 0 white, 0 0.07em white, -0.07em 0 white, 0 -0.07em white,
    -0.07em -0.07em white, -0.07em 0.07em white, 0.07em -0.07em white,
    0.07em 0.07em white;
  margin-bottom: 50px;
}
#btn {
  display: flex;
  justify-content: center;
}
.btn2 {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  display: flex;

  /* Clean style */

  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #49623a;
  --button-background-color: #ece8e1;
  --highlight-color: #F25A59;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);

  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.btn2::before,
.btn2::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all 0.15s ease;
}

.btn2::before {
  top: 0;
  border-bottom-width: 0;
}

.btn2::after {
  bottom: 0;
  border-top-width: 0;
}

.btn2:active,
.btn2:focus {
  outline: none;
}

.btn2:active::before,
.btn2:active::after {
  right: 3px;
  left: 3px;
}

.btn2:active::before {
  top: 3px;
}

.btn2:active::after {
  bottom: 3px;
}

.btn2__inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn2__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn2__inner::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all 0.2s ease;
}

.btn2__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.btn2__content {
  position: relative;
}

.btn2:hover {
  color: var(--button-text-color-hover);
}

.btn2:hover .btn2__slide {
  width: calc(100% + 15px);
}

.btn2:hover .btn2__inner::after {
  background-color: #F25A59;
}

.btn2--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}

@media screen and (max-width: 700px) {
  .Services-Header {
    width: 300px;
    padding: 2vh;
  }
  .react-parallax-content {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
  #Rank-boost-title {
    font-size: 63.96px;
  }
  #Rank-boost-subtitle {
    font-size: 45.23px;
  }
}
.pcIcon {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.pcIcon p {
  color: grey;
  display: flex;
  justify-content: center;
}
.rank {
  width: 336px;
  height: 322px;
  margin-top: 1rem;
}
@media screen and (max-width: 460px) {
  .rank {
    width: 236px;
    height: 222px;
  }
}

#current-rank {
  font-size: 45.23px;
  color: black;
  text-align: center;
  border-bottom: solid 4px #F25A59;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem;
}
#tier {
  color: white;
  text-align: center;
  font-size: 35.23px;
  position: relative;
  bottom: 100px;
  right: 1px;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}
@media screen and (max-width: 460px) {
  #tier {
    margin-top: 30px;
    font-size: 31.23px;
  }
}
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
.ExtraDesc {
  font-size: 1rem;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  height: 40px;
  width: 80px;
  margin-top: 10px;
  
}
.example_c {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  width: 150px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.example_c:hover {
  color: #ffffff !important;
  background: #F25A59;
  border-color: #F25A59 !important;
  transition: all 0.4s ease 0s;
}
.k:hover {
  background: #6d00ae;
  border-color: #6d00ae !important;
}

.totalMoney {
  font-size: 50px;
  align-self: center;
  margin: 10px;
}
.example_d {
  color: #20bf6b !important;
  text-transform: uppercase;
  background: hsl(0, 0%, 100%);
  padding: 20px;
  margin-top: 20px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.example_d:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}
