@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: "castellar";
  src: local("castellar"), url(./fonts/CASTELAR.ttf) format("truetype");
}
